.container {
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dadada;
    margin-bottom: 20px;
}

.header {
    padding: 20px;
}
.list {
    background-color: #b7b7b7;
    display: flex;
    justify-content: center;
}