@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 3.5%;
    background-color: #ffffff;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}

.logo {
    width: 140px;
    object-fit: contain;
}

.sns {
    width: 30px;
    object-fit: contain;
}

.magnifier {
    width: 40px;
    object-fit: contain;
}

.itemArea {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 5;
    align-items: center;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1.5px solid #b4b4b4;
}

.menuContainer {
    width: 51%;
    margin-left: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    font-size: 14px;
}

.snsContainer {
    display: flex;
    align-items: center;
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.titleText {
    animation: slideLeft 0.6s ease-out;

}

.item {
    display: inline;
    width: 170px;
    padding: 5px;
    margin: 20px;
    color: #a38ced;
    cursor: pointer;
    border-bottom: 1.5px solid #cecece;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    animation: slideDown 0.6s ease-out;
}

.titleArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14%;
    min-height: 120px;
    font-weight: bold;
    background-color: #53468b;
    color: white;
    border-right: 1px solid white;
    font-size: 24px;
    box-sizing: border-box;
}

.navbar button{
  background-color: white;
    border: none;
    padding: 3px;
}