/* Calendar Container */
.calendar-container {
    position: relative; /* make it a positioning context for its children */
    width: 60%;
    margin: 0 auto 50px auto; /* 50px of margin added to the bottom */
    padding-top: 40%; /* height is now 70% of width */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.calendar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Other styling, if needed */
}

/* Customize the event color */
.rbc-event {
    background-color: #4C9AFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: clip !important;
    /* Optional: set a max height and allow vertical scroll for very long content */
    /* max-height: 100px; */
    /* overflow-y: auto; */
}

.rbc-toolbar {
    display: flex;
    justify-content: center;
    align-items: center; /* vertically align everything in the center */
}

.rbc-toolbar button {
    font-size: 30px; /* Increase the size of < > */
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 20px;  /* Add some spacing between the buttons and the date */
}

.rbc-toolbar span {
    font-size: 30px;   /* Increase the size of the date */
    font-weight: bold; /* Make the date bold */
    cursor: pointer;
    position: relative;
    bottom: -5px;   /* 날짜를 15px 내립니다. */
}
