* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;

}

.post-detail {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.post-meta {
    margin-bottom: 20px;
    width: 100%;
}

.post-meta p {
    font-size: 12px;
    color: #555;
}

.post_data {
    text-align: center;
    padding: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f8f9fa;
    margin-bottom: 0;
}

.post_menu_title {
    padding: 0.8em;
    border-right: 1px solid #E4E4E4;
    color: #333;
    background-color: #fff;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #E4E4E4;
}

.title-divider {
    border-top: 1px solid black;
    width: 100%;
}

.left-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.post-image {
    max-width: 100%;
    height: auto;
}

.post-content {
    text-align: left;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 2.5em;
}

.file-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-box {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f8f9fa;
    margin: 10px;
}

.file-label {
    margin-left: 25px;
    margin-right: 50px;
}

.file-divider {
    border-left: 1px solid #ddd;
    height: 100%;
    margin: 0 10px;
}

.file-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.file-name {
    margin: 10px 0;
    display: block;

}

.file-name:hover {
    font-family: "Britannic Bold";
}

.post-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.post-edit-button,
.post-delete-button,
.post-list-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #99959E;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
}
.post-delete-button{
    margin-right: 50px;
}

.post-list-button {
    /*margin-left: auto;*/
}

.post-edit-button:hover,
.post-delete-button:hover,
.post-list-button:hover {
    background-color: #9c6ed9;
    color: #fff;
}

/* CSS 파일 혹은 스타일시트에 추가 */
.prev-button.prev-button-style,
.next-button.next-button-style {
    width: 100%;
    text-align: left;
}
.prev-button {
    margin-top: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid #99959E;
    padding-top: 10px;
    padding-bottom: 8px;
}
.next-button {
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-bottom: 30px;
}

.prev-button-style:hover,
.next-button-style:hover{
    color: #99959E;
}