/* 게시글 목록 컨테이너 스타일 */
.sjNewsListContainer {
    display: flex;
    flex-wrap: wrap; /* 줄 바꿈을 허용 */
    justify-content: space-between;
    width: 60%; /* 전체 페이지의 60% 너비로 설정 */
    margin: 0 auto; /* 페이지를 가운데로 정렬 */
}

/* 게시글 썸네일 스타일 */
.postDetail {
    width: calc(33.33% - 5px); /* 한 줄에 세 개의 게시글을 나열하므로 너비를 조절 */
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex; /* 수정 및 삭제 버튼을 가로로 나란히 표시하기 위해 flex 사용 */
    flex-direction: column; /* 내부 요소들을 세로로 정렬 */
    border-radius: 5px;
}

.leftTop {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 350px;
}

.postImage {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 14px;
    margin: 20px 0;
    font-weight: bold;

}

.postData {
    font-size: 14px;
    color: #555;
    margin: 0 auto;
}

.postButton {
    display: flex;
    justify-content: flex-end; /* 수정 및 삭제 버튼을 오른쪽으로 정렬 */
    margin-top: auto; /* 수정 및 삭제 버튼을 아래로 밀어내기 위해 margin-top을 auto로 설정 */
    gap: 10px; /* 수정 및 삭제 버튼 간격 설정 */
}

.postEditButton,
.postDeleteButton {
    width: 50px;
    height: 35px;
    background-color: #a38ced;
    border: 1px solid #99959e;
    border-radius: 5px;
    color: white;
    margin-bottom: 40px;
}
.postDeleteButton{
    margin-right:253px;
}

.postEditButton:hover,
.postDeleteButton:hover {
    background-color: #53468b;
}

