*{
    margin: 0;
    padding: 0;
    font-family: Prompt;
    font-size: 15px;

}

li{
    list-style: none;
    margin-bottom: 10px;

}



#title{
  position: relative;
  margin-top: 5%;
  padding-right: 20%;
  padding-left: 20%;
}

#title h2{
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

/*대관 신청 절차 부분*/

#title > .main1{

}

#title > .main1 > h3{
    margin-top: 5%;
    font-size: 25px;
    font-weight: bold;
}



#title > .main1 > .boxWrap{
width: 100%;

}


#title> .main1 > .boxWrap > .boxStyle > h2{
    font-size : 25px;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    align-items: center;
    color: #bdb0cc;
}

/*대관 운영 시간 부분*/

#title > .main2 {
    margin-top: 3%;
    width: 100%;
}

#title > .main2 > h3{
    margin-top: 5%;
    font-size: 25px;
    font-weight: bold;

}

#title > .main2 > .table{
    margin-top: 20px;
    padding : 0;
    table-layout: fixed;
    width: 100%;
}

#title > .main2 > .table > .rentTime > th,td {
    width: 25%;
    text-align: center;
    padding: 10px;
    border:  1px solid #ba68c8;


}



#title > .main2 > .table > .rentTime > .table-header > .col1{
    background: rgba(225, 174, 255, 0.43);

}

#title > .main2 > .table > .rentTime > .table-header > .col1 > td {
    padding : 15px;

}

#title > .main2 > .table > .rentTime > .table-header > .col1 > td > b{
   font-size: 20px;

}

#title > .main2 > .table > .rentTime > .table-body > .col2{
    background: rgba(253, 246, 255, 0.49);

}

#title > .main2 > .table > .rentTime > .table-body > .col2 >td {
    padding-top: 25px;
    padding-bottom: 20px;

}

#title > .main2 > .table > .rentTime > .table-body > .col2 >td >p{
    font-size: 18px;

}

#title > .main2 > p{
    margin-bottom: 10px;
    font-size: 15px;
}

#title > .main2 > p >span{
    font-size: 16px;
    color: red;
    font-weight: bold;
}


/*이용료 부분*/

#title > .main3 {
    margin-top: 3%;

}

#title > .main3 > h3{
    margin-top: 5%;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;

}

#title > .main3 > p{
    font-size: 15px;
    margin-bottom: 30px;



}



#title > .main3 > .rentFee_standard >b{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color : #8757B8;

}

#title > .main3 > .rentFee_standard > li{
    list-style: none;
    margin: 10px 0px;
    margin-left: 10px;



}

#title > .main3 > .rentFee_accept >b{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color : #8757B8;


}


#title > .main3 > .rentFee_accept > li{
    list-style: none;
    margin: 10px 0px;
    margin-left: 10px;

}


#title > .main3 > .rentFee_return >b{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color : #8757B8;

}

#title > .main3 > .rentFee_return > li{
    list-style: none;
    margin: 10px 0px;
    margin-left: 10px;

}

/*유의사항 부분*/

#title > .main4 {
    margin-top: 3%;
}

#title > .main4 > h3{
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;

}

/*대관신청 버튼 부분*/

  #title > .buttonWrap >.button{
      display :flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 5%;
      margin-bottom: 10%;




  }








