footer {
    position: relative;
    width: 100%;
    background-color: #4b4b4b;
    bottom: 0;
}

layout {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

footerLayout {
    padding: 6rem 0 0 29.5rem;
    display: flex;
    position: relative;
    border-top: 1px solid #4b4b4b;
    max-width: 1240px;
    height: 250px;
    width: 100%;
}

information {
    padding-bottom: 80px;
    display: block;
}

footerLogo {
    position: absolute;
    left: 0;
    top: 6rem;
    width: 17.7rem;
    display: block;
}

otherList {
    display: flex;
    font-weight: 600;
    margin-bottom: 2.6rem;
    position: relative;
}

otherListItem {
    list-style: none;
    margin-right: 2.4rem;
}

otherListItemLast {
    margin-right: 0;
}

otherListLinkSpan {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

otherListLinkSpanFirst {
    color: #B770FF;
}

addressP {
    display: flex;
    position: relative;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 3rem;
    color: #fff;
}

addressCopr {
    color: #aaa9a9;
}

addressLastP {
    color: #A2A2A2;
