/* Calendar Container */
.calendar-container {
    position: relative; /* make it a positioning context for its children */
    width: 60%;
    margin: 0 auto;
    padding-top: 50%; /* height is now 70% of width */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.calendar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Other styling, if needed */
}

/* Customize the event color */
.rbc-event {
    background-color: #4C9AFF; /* Change this value if you want a different color */
    color: white; /* Text color for the events */
    border: none;
    border-radius: 4px; /* Round the corners of events */
    padding: 4px 8px; /* Some padding for events */
}
